


.about{
    position: absolute;
    z-index: 65;
    display: block; 
   
   
    
}
.linkBox{
    padding: 10px;
}
.header{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inter;
   
    
}
h4{
    font-size: 48px;
    color: white;
   
    
    
}
p{
    padding: 0px 155px 55px 155px;
    font-size: 19px;
    color: white;
   
}


@media only screen and (min-width: 1700px){
    p{
        padding: 40px 200px;
    }
    .linkBox{
        padding: 30px;
    }

}

@media only screen and (max-width: 1400px){

    h4{
        margin-top: 30px;
        font-size: 25px;
      
    }
    h3{
        font-size: 24px;
    }
    p{
        padding: 10px 30px ;
        font-size: 14px;
    }
    h3{
        font-size: 16px;
        margin: 17px;
        
    }

}
@media only screen and (max-width: 600px){


    p{
        padding: 0px 10px ;
        font-size: 13px;
    }
  

}